@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .theme {
    --animate-shine: shine var(--duration) infinite linear;
  }
}

.shadow__btn {
  box-shadow: 0 0 25px #008cff;
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

/* custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes border-flow {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.border-glow {
  position: relative;
}

.border-glow::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, #008cff, #49b3ff, #0066bb, #008cff);
  background-size: 400% 400%;
  border-radius: inherit;
  z-index: -1;
  animation: border-flow 8s ease infinite;
  filter: blur(8px);
}

/* Optional - Add this class to your component for an additional animation effect */
.border-glow-animate::before {
  animation: border-flow 8s ease infinite;
}

@theme inline {
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    to {
      background-position: 0% 0%;
    }
  }
}

.blue-glow-bg {
  /* border-radius: 12px; */
  border: 1px solid var(--primary-btn, #008cff);
  /* background: var(--Secondary-bg, #101935); */
  background: transparent;
  /* box-shadow: 0px 0px 150px 0px #008cff68; */
}